<h2>Shared Gas Diary</h2>
    <form method="post" action="/bill">
        <fieldset>
            <legend>Calculating ride for user:</legend>
            <div>
                <input type="radio" id="tarek" name="name" value="tarek" checked="checked"><label for="dewey">tarek</label><br>
                <input type="radio" id="oscar" name="name" value="oskar"><label for="dewey">oskar</label><br>
            </div>
        </fieldset>
        <fieldset>
            <legend>Calculating ride for car:</legend>
            <div>
                <input type="radio" id="toyota" name="car" value="toyota" checked="checked"><label for="dewey">toyota</label><br>
                <input type="radio" id="bmw" name="car" value="bmw"><label for="dewey">bmw</label><br>
            </div>
        </fieldset>
        <input type="submit" value="get calculation" name="Submit" />
    </form>