<h2>Shared Gas Diary</h2>
    <form method="post" action="/">
        <fieldset>
            <legend>Select user:</legend>
            <div>
                <input type="radio" id="tarek" name="name" value="tarek" checked="checked"><label for="dewey">tarek</label><br>
                <input type="radio" id="oscar" name="name" value="oskar"><label for="dewey">oskar</label><br>
            </div>
        </fieldset>
        <fieldset>
            <legend>Select car:</legend>
            <div>
                <input type="radio" id="toyota" name="car" value="toyota" checked="checked"><label for="dewey">toyota</label><br>
                <input type="radio" id="bmw" name="car" value="bmw"><label for="dewey">bmw</label><br>
            </div>
        </fieldset>
        <fieldset>
            <legend>Miles Covered:</legend>
            <div>
                <input type="text" id="mileage" name="mileage" placeholder="Enter mileage here">
            </div>
        </fieldset>
        <input type="submit" value="Submit diary" name="Submit" />
    </form>